th, td {
    padding-right: 200px; 
    padding-left: 200px; 
    border-right:  1px solid #ffffff; 
    font-family: Manjari; 
    font-size: 18px;
}

li {
    font-family: Manjari; 
    color: #ffffff; 
    font-size: 25px; 
    padding-bottom: 20px;  
    padding-top: 20px;
}

h3 {
    color: #ffffff;
    text-align: left; 
    margin-left: 1vh; 
    padding: 0px; 
    font-size: 15px; 
    font-weight: normal; 
    font-family: Manjari; 
}

h1 {
    font-family: Manjari; 
    text-align: center; 
    font-size: 35px; 
    color: #ffffff;
}