asgiref==3.5.0
astroid==2.11.2
black==22.3.0
Brotli==1.0.9
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.1.0
dill==0.3.4
Django==4.0.3
django-cas-ng==4.3.0
django-ckeditor==6.2.0
django-debug-toolbar==3.2.4
django-filter==21.1
django-js-asset==2.0.0
idna==3.3
isort==5.10.1
lazy-object-proxy==1.7.1
lxml==4.8.0
mccabe==0.7.0
mypy-extensions==0.4.3
mysqlclient==2.1.0
pathspec==0.9.0
platformdirs==2.5.1
pylint==2.13.3
pylint-django==2.5.3
pylint-plugin-utils==0.7
python-cas==1.6.0
requests==2.27.1
simplejson==3.17.6
six==1.16.0
sqlparse==0.4.2
tomli==2.0.1
typing_extensions==4.1.1
urllib3==1.26.9
whitenoise==6.0.0
wrapt==1.14.0
