{% extends "generic.html" %}
{% load static %}
{% block title %}About Us{% endblock %}
{% block main %}
<!-- Section -->
<section>
  <header>
    <h2>Meet the team</h2>
  </header>
  <header class="major">
    <h2>Current members</h2>
  </header>
  <div class="features">
    <article>
      <div class="content">
        <h3>Heather Baier</h3>
        <p>
          {% autoescape on %}
          Heather Baier graduated from the College of William and Mary majoring
          in Data Science with a minor in Computer Science. Her interests
          include developing geospatial applications and using data to better
          inform aid allocation. She started working with CheckMySchool in May
          2018 and graduated in May 2020. Heather developed the open data
          platform and designed the original School Neediness Index.
          {% endautoescape %}
        </p>
      </div>
    </article>
    <article>
      <div class="content">
        <h3>Elias Wolman</h3>
        <p>
          {% autoescape on %}
          Elias Wolman is the director of GEO and is an undergraduate student
          graduating from W&M in May 2022 with a major in Computational and
          Applied Mathematics and Statistics and a minor in German Studies. He
          has been with the team since Spring 2020 and his research interests
          include education and sports analytics.
          {% endautoescape %}
        </p>
      </div>
    </article>
    <article>
      <div class="content">
        <h3>Kerry Wang</h3>
        <p>
          {% autoescape on %}
          Kerry Wang is a James Monroe Scholar at William & Mary and the web
          developer of GEO. He is an undergraduate student graduating from
          W&M in May 2022 with degrees in Computer Science and Physics.
          Besides web development, his interests include machine learning and
          systems administration.
          {% endautoescape %}
        </p>
      </div>
    </article>
    <article>
      <div class="content">
        <h3>Jiaying (Tina) Chen</h3>
        <p>
          {% autoescape on %}
          Jiaying (Tina) Chen works on the database and its related features for
          the website of GEO. She is an undergraduate student graduating from
          W&M in May 2022 with degrees in Computer Science and Applied
          Mathematics. Her research interests include the applications of neural
          networks, statistical modeling, and computational topology on
          geospatial data.
          {% endautoescape %}
        </p>
      </div>
    </article>
    <article>
      <div class="content">
        <h3>Jane Siwek</h3>
        <p>
          {% autoescape on %}
          Jane Siwek collects education data for GEO and is an undergraduate
          student graduating from W&M in May 2023 with a degree in
          Computational & Applied Mathematics & Statistics, on the
          Mathematical Biology track. Some of her other research interests
          include biology and public health.
          {% endautoescape %}
        </p>
      </div>
    </article>
    <article>
      <div class="content">
        <h3>Jeremy Swack</h3>
        <p>
          {% autoescape on %}
          Jeremy Swack works on data analytics projects for GEO and is an
          undergraduate student graduating from W&M in May 2024. He plans to
          double major in Data Science and Computer Science. His other research
          interests include machine learning applications in sports analytics
          and with geospatial data.
          {% endautoescape %}
        </p>
      </div>
    </article>
    <article>
      <div class="content">
        <h3>Naomi Levin</h3>
        <p>
          {% autoescape on %}
          Naomi Levin cleans data for GEO and is pursuing a B.S. in biology as a
          pre-med student who will graduate from W&M in May 2023. Aside from
          her research with geoLab, Naomis research interests include
          kinesthetics related to osseointegration and limb salvage/amputation.
          {% endautoescape %}
        </p>
      </div>
    </article>
    <article>
      <div class="content">
        <h3>Courtney Maynard</h3>
        <p>
          {% autoescape on %}
          Courtney Maynard collects education data for GEO and is an
          undergraduate James Monroe Scholar graduating in May 2025. She plans
          on double majoring in Computer Science and Economics. In addition to
          GEO, she is researching place-based learning and its applications to
          increasing data literacy in elementary schoolchildren.
          {% endautoescape %}
        </p>
      </div>
    </article>
    <article>
      <div class="content">
        <h3>Annamarie Warnke</h3>
        <p>
          {% autoescape on %}
          Annamarie Warnke collects education data for GEO. They are an
          undergraduate James Monroe Scholar graduating from W&M in May 2025.
          They plan on majoring in Data Science and minoring in Educational
          Studies. Their other academic interests include cybersecurity and
          French.
          {% endautoescape %}
        </p>
      </div>
    </article>
    <article>
      <div class="content">
        <h3>Fatima Pate</h3>
        <p>
          {% autoescape on %}
          Fatima Pate collects education data for GEO. She is a third year Data
          Science major on the Pre- Med track. Her interests outside of the lab
          include analyzing the benefits of machine learning in health care
          systems of developing countries.
          {% endautoescape %}
        </p>
      </div>
    </article>
  </div>
</section>
<section>
  <header class="major">
    <h2>Founding members</h2>
  </header>
  <div class="features">
    <article>
      <div class="content">
        <h3>Don Parafina</h3>
        <p>
          Project Manager, CheckMySchool (CMS)<br />
          <a href="mailto:executive.director@ansa-eap.net"
            >executive.director@ansa-eap.net</a
          >
        </p>
      </div>
    </article>
    <article>
      <div class="content">
        <h3>Wilson Villones</h3>
        <p>
          Project Coordinator, CheckMySchool (CMS)<br />
          <a href="mailto:wvillones@ansa-eap.net">wvillones@ansa-eap.net</a>
        </p>
      </div>
    </article>
    <article>
      <div class="content">
        <h3>Darlene Motil</h3>
        <p>
          Communications Consultant, CheckMySchool (CMS)<br />
          <a href="mailto:dmotil@ansa-eap.net">dmotil@ansa-eap.net</a>
        </p>
      </div>
    </article>
    <article>
      <div class="content">
        <h3>Heather Baier</h3>
        <p>
          Map Specialist, CheckMySchool (CMS)<br />
          <a href="mailto:hmbaier@email.wm.edu">hmbaier@email.wm.edu</a>
        </p>
      </div>
    </article>
    <article>
      <div class="content">
        <h3>Matthew Crittenden</h3>
        <p>
          Data Specialist, CheckMySchool (CMS)<br />
          <a href="mailto:micrittenden@email.wm.edu"
            >micrittenden@email.wm.edu</a
          >
        </p>
      </div>
    </article>
    <article>
      <div class="content">
        <h3>Alison Reynolds</h3>
      </div>
    </article>
    <article>
      <div class="content">
        <h3>Elias Wolman</h3>
      </div>
    </article>
    <article>
      <div class="content">
        <h3>John Hennin</h3>
      </div>
    </article>
  </div>
</section>
<section>
  <header class="major">
    <h2>Past members</h2>
  </header>
  <div class="content">
    <article>
      <div class="content">
        <h3>Caroline Edwards</h3>
      </div>
    </article>
  </div>
</section>

<!-- Section -->
<section>
  <header class="major">
    <h2>Partners</h2>
  </header>
  <div class="posts">
    <article>
      <a href="#" class="image"
        ><img src="{% static 'myapp/images/partner_ansa.png' %}" alt=""
      /></a>
    </article>
    <article>
      <a href="#" class="image"
        ><img src="{% static 'myapp/images/partner_gates.png' %}" alt=""
      /></a>
    </article>
    <article>
      <a href="#" class="image"
        ><img src="{% static 'myapp/images/partner_freeman.png' %}" alt=""
      /></a>
    </article>
    <article>
      <a href="#" class="image"
        ><img src="{% static 'myapp/images/partner_civicus.png' %}" alt=""
      /></a>
    </article>
    <article>
      <a href="#" class="image"
        ><img src="{% static 'myapp/images/partner_geolab.png' %}" alt=""
      /></a>
    </article>
    <article>
      <a href="#" class="image"
        ><img src="{% static 'myapp/images/partner_gri.png' %}" alt=""
      /></a>
    </article>
  </div>
</section>
{% endblock %}
