{% extends "generic.html" %}
{% load static %}

{% block title %}GEO Map{% endblock %}

{% block imports %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css"/>
<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css"/>
<script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>
{% endblock %}

{% block main %}

<div id="map" style="height: 80vh;"></div>

<script>

    var map = L.map('map').setView([-29.106, 26.150], 6);

    // Add map tiles to map
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

    // Generate GeoJSON features from database
    var data = {
        "type": "FeatureCollection",
        "features": [
        {% for obj in object_list %}
        {
            "type": "Feature",
            "properties": {
                "School_Name": "{{ obj.school_name }}",
                "School_ID": "{{ obj.id }}",
                "Country": "{{ obj.country }}",
                "Sector": "{{ obj.sector }}"
            },
            "geometry": {
                "type": "Point",
                "coordinates": [{{ obj.lon }}, {{ obj.lat }}]
            }
        },
        {% endfor %}
        ]
    };

    // Build GeoJSON data layer
    var dataLayer = L.geoJson(data, {
        onEachFeature: function(feature, layer) {
            layer.bindPopup('<h4><a href="/schools/' + feature.properties.School_ID + '"/>' +
            feature.properties.School_Name + 
            '</a></h4>' +
            "School ID: " + feature.properties.School_ID + 
            "<br>Country: " + feature.properties.Country +
            "<br>Sector: " + feature.properties.Sector);
        }
    });

    // Cluster and display on map
    var cluster = L.markerClusterGroup();
    cluster.addLayer(dataLayer);
    map.addLayer(cluster);

</script>
{% endblock %}
