{% extends "generic.html" %}
{% load static %}

{% block title %}GEO Map{% endblock %}

{% block imports %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>
<script src="https://unpkg.com/supercluster@7.1.2/dist/supercluster.min.js"></script>
<link rel="stylesheet" href="{% static 'myapp/assets/css/cluster.css' %}" />
{% endblock %}

{% block main %}
<div id="map" style="height: 80vh;"></div>
<script src="{% static 'myapp/assets/js/geo_full.min.js' %}"></script>
<script src="{% static 'myapp/assets/js/map.js' %}"></script>
{% endblock %}
