{% extends "generic.html" %}
{% load static %}

{% block title %}Global Education Observatory{% endblock %}

{% block main %}
<!-- Banner -->
<section id="banner">
	<div class="content">
		<header>
			<h1>Global Education Observatory</h1>
			<p>TODO: sample text</p>
		</header>
		<p>GEO is a participatory monitoring initiative for the education sector in the Philippines. It
			aims to continuously improve the quality of education services by bringing the participation
			of citizens and communities into the governance of public schools in the country. It started
			in 2011 as an experimental partnership project with the Department of Education along the
			advocacy for access to information and social accountability.</p>
		<ul class="actions">
			<li><a href="#" class="button big">Learn More</a></li>
		</ul>
	</div>
	<span class="image object">
		<img src="{% static 'myapp/images/pic10.jpg' %}" alt="" />
	</span>
</section>
{% endblock %}