{% extends "generic.html" %}
{% load static %}

{% block title %}Global Education Observatory{% endblock %}

{% block main %}
<!-- Banner -->
<section id="banner">
	<div class="content">
		<header>
			<h1>Global Education Observatory</h1>
			<p>Collecting and analyzing school-level global education data</p>
		</header>
		<p>The Global Education Observatory (GEO) was formed as a team in the William &amp; Mary geoLab, out of CheckMySchool
			(CMS). CMS started in 2011 as an experimental partnership project with the Department of Education along the
			advocacy for access to information and social accountability.</p>
		<p>In its current form, GEO is working to build and analyze a public dataset of global education data. Team members in
			the William &amp; Mary geoLab find and catalog school-level education data for countries around the world to build
			an extensive database. Team members also analyze the education data that has been collected to gain a better
			understanding of education systems. GEO aims to continuously improve the quality of education services by bringing
			the participation of citizens and communities into the governance of public schools around the world.</p>
		<ul class="actions">
			<li><a href="/schools_list" class="button big">Our Data</a></li>
		</ul>
	</div>
	<span class="image object">
		<img src="{% static 'myapp/images/front_page.jpg' %}" alt="" />
	</span>
</section>
{% endblock %}