{% extends "generic.html" %}
{% load static %}

{% block title %}Search for Schools{% endblock %}
{% block main %}
<section>
    <header class="main">
        <h2>School Filter Options</h2>
    </header>
    <div class="row">
        <div class="col-3 col-12-small">
            <form method="get">
                {{ filter.form.as_p }}
                <input type="submit" />
            </form>
        </div>
        <div class="col-9 col-12-small">
            <table>
                <tr>
                    <th>School</th>
                    <th>School ID</th>
                    <th>School Country</th>
                    <th>School Zone</th>
                    <th>School Sector</th>
                    <th>School Test Score</th>
                </tr>
                {% for obj in page_obj %}
                    <tr>
                        <td><a href="/schools/{{ obj.id }}/">
                            {{ obj.school_name }}
                        </a></td>
                        <td>{{ obj.id }}</td>
                        <td>{{ obj.country }}</td>
                        <td>{{ obj.zone }}</td>
                        <td>{{ obj.sector }}</td>
                        <td>{{ obj.test_score}}</td>
                    </tr>
                {% endfor %}
            </table>
            {% if page_obj.has_other_pages %}
            <ul class="pagination">
                {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}&{{ get_copy.urlencode }}" class="page">&laquo;</a></li>
                {% else %}
                <li><span class="page disabled">&laquo;</span></li>
                {% endif %}
                {% for i in page_list %}
                {% if page_obj.number == i %}
                    <li><a href="#" class="page active">{{ i }}</a></li>
                {% else %}
                    <li><a href="?page={{ i }}&{{ get_copy.urlencode }}" class="page">{{ i }}</a></li>
                {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}&{{ get_copy.urlencode }}" class="page">&raquo;</a></li>
                {% else %}
                <li><span class="page disabled">&raquo;</span></li>
                {% endif %}
            </ul>
            {% endif %}
            <a href="/downloadcsv/" class="button">Download CSV File</a>
        </div>
    </div>
</section>
{% endblock %}
