{% extends "generic.html" %}
{% load static %}

{% block title %}GEO - {{ object.school_name }}{% endblock %}
{% block imports %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>
{% endblock %}

{% block main %}
<section>
    <div class="row">
        <div class="col-8 col-12-small">
            <header class="main">
                <h2>{{ object.school_name }}</h2>
                {% if object.address is not None %}
                <p>{{object.address}}</p>
                {% endif %}
            </header>
            
            <h3>Fast Facts</h3>
            <table>
                <tr>
                    <th>Country</th>
                    <th>Sector</th>
                    <th>School Level</th>
                    <th>Municipality</th>
                    <th>Department</th>
                    <th>Zone</th>
                </tr>
                <tr>
                    <td>{{ object.country }}</td>
                    <td>{{ object.sector }}</td>
                    <td>{{ object.school_level }}</td>
                    <td>{{ object.municipality }}</td>
                    <td>{{ object.department }}</td>
                    <td>{{ object.zone }}</td>
                </tr>
            </table>

            <table>
                <tr>
                    <th>Session</th>
                    <th>Year</th>
                    <th>Total Enrollment</th>
                    <th>Test Score</th>
                    <th>Gender Ratio</th>
                </tr>
                {% for session in object.sessions.all %}
                    <tr>
                        <td>{{ session.session }}</td>
                        <td>{{ session.data_year }}</td>
                        <td>{{ session.total_enrollment }}</td>
                        <td>{{ session.test_score }}</td>
                        <td>{{ session.gender_ratio }}</td>
                    </tr>
                {% endfor %}
            </table>
        <div class="col-4 col-12-small">
            <div id="map" style="width:100%;height:50vh;"></div>
        </div>
    </div>
</section>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    /* global L */
    var map = L.map('map').setView([{{ object.lat }}, {{ object.lon }}], 14);
    var osmLayer = new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 18
    });
    map.addLayer(osmLayer);
    L.marker([{{ object.lat }}, {{ object.lon }}]).addTo(map);
</script>
{% endblock %}