{% extends "generic.html" %}
{% load static %}

{% block title %}GEO - {{ object.school_name }}{% endblock %}
{% block imports %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>
<!-- <script src="https://code.highcharts.com/highcharts.src.js"></script> -->
{% endblock %}

{% block main %}
<section>
    <div class="row">
        <div class="col-8 col-12-small">
            <header class="main">
                <h2>{{ object.school_name }}</h2>
            </header>
            
            <h3>Fast Facts</h3>
            <p>Data year: {{ object.data_year }}</p>
            <p>Country: {{ object.country }}</p>
            <p>Sector: {{ object.sector }}</p>
            <p>School level: {{ object.school_level }}</p>
            <p>Municipality: {{ object.municipality }}</p>
            <p>Department: {{ object.department }}</p>
            <p>Zone: {{ object.zone }}</p>
            <p>Address: {{ object.address }}</p>
            <p>Total enrollment: {{ object.total_enrollment }}</p>

            <!-- <h3>Student Gender Distribution</h3>
            <div id="chart" style="width:100%; height:auto;"></div>
            <script>
                Highcharts.chart('chart', {
                    chart: {
                        plotBackgroundColor: null,
                        plotBorderWidth: null,
                        plotShadow: false,
                        type: 'pie'
                    },
                    title: {
                        text: ' '
                    },
                    tooltip: {
                        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                    },
                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                            dataLabels: {
                                enabled: true,
                                format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                            }
                        }
                    },
                    series: [{
                        name: 'Gender',
                        colorByPoint: true,
                        data: [{
                            name: 'Male',
                            y: {{ object.total_male }},
                            sliced: true,
                            selected: true,
                            color: "#347dc1"
                        }, {
                            name: 'Female',
                            y: {{ object.total_female }},
                            color: "#e6a6c7"
                        }]
                    }]
                });
            </script>
        </div> -->
        <div class="col-4 col-12-small">
            <div id="map" style="width:100%;height:50vh;">
                <script type="text/javascript">
                    // console.log({{ object.lat }}, {{ object.lon }})
                    var map = L.map('map').setView([{{ object.lat }}, {{ object.lon }}], 14);
                    var osmLayer = new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                        maxZoom: 18
                    });
                    map.addLayer(osmLayer);
                    var marker = L.marker([{{ object.lat }}, {{ object.lon }}]).addTo(map);
                </script>
            </div>
        </div>
    </div>
</section>
{% endblock %}
