{% extends "generic.html" %}
{% load static %}

{% block title %}Global Education Observatory{% endblock %}

{% block main %}
<!-- Banner -->
<section id="banner">
	<div class="content">
		<header>
			<h1>Global Education Observatory</h1>
			<p>TODO: sample text</p>
		</header>
		<p>GEO is a participatory monitoring initiative for the education sector in the Philippines. It
			aims to continuously improve the quality of education services by bringing the participation
			of citizens and communities into the governance of public schools in the country. It started
			in 2011 as an experimental partnership project with the Department of Education along the
			advocacy for access to information and social accountability.</p>
		<ul class="actions">
			<li><a href="#" class="button big">Learn More</a></li>
		</ul>
	</div>
	<span class="image object">
		<img src="{% static 'myapp/images/pic10.jpg' %}" alt="" />
	</span>
</section>

<!-- Section -->
<section>
	<header class="major">
		<h2>Meet the team</h2>
	</header>
	<div class="features">
		<article>
			<img src="{% static 'myapp/images/don.png' %}" class="icon" />
			<div class="content">
				<h3>Don Parafina</h3>
				<p>Project Manager, CheckMySchool (CMS)<br>executive.director@ansa-eap.net</p>
				<p>Redempto S. Parafina, or Dondon, is the Executive Director of the Affiliated Network
					for Social Accountability in East Asia and the Pacific (ANSA-EAP) Foundation, Inc.
					As an international development practitioner, he has recognized track record in
					civil society networking, capacity building and advancing innovations in citizen
					participation in governance. With over fourteen years of experience, he is consulted
					on the technical application of social accountability in various fields and sectors,
					such as education, health, public procurement, ICT, youth/children, among others.
					His work has spanned the Philippines and various East Asian countries. He is also a
					Senior Associate at the Ateneo de Manila University’s School of Government, where he
					has spearheaded various projects. He is a graduate student of philosophy, a boy
					scout and a dragonboat paddler.</p>
			</div>
		</article>
		<article>
			<img src="{% static 'myapp/images/will.png' %}" class="icon" />
			<div class="content">
				<h3>Wilson Villones</h3>
				<p>Project Coordinator, CheckMySchool (CMS)<br>wvillones@ansa-eap.net</p>
				<p>Wilson Villones is a researcher of the Affiliated Network for Social Accountability
					in East Asia and the Pacific. At present, he is the Project Coordinator of
					CheckMySchool. Mr. Villones has been working on a variety of governance projects,
					designing programs on monitoring for citizen groups, government institutions,
					international development partners and various other stakeholders. More recently,
					his works focused on citizen engagement, social accountability, transparency, M&amp;E,
					and open data. Mr. Villones is also consulted on several government and CSO
					projects.</p>
			</div>
		</article>
		<article>
			<img src="{% static 'myapp/images/darlene.png' %}" class="icon" />
			<div class="content">
				<h3>Darlene Motil</h3>
				<p>Communications Consultant, CheckMySchool (CMS)<br>dmotil@ansa-eap.net</p>
				<p>Darlene Motil works as Communications Specialist at CMS. Since earning her degree in
					Communication in 2013, she had been working for non-government organizations. She
					writes and publishes contents on websites and the social media; she also does
					graphic designs. As of writing, Darlene is trying to capture, in the form of videos
					and photos, the impact of CheckMySchool in the grassroots. Darlene wants to put her
					skills to good use by working for organizations with forward-looking initiatives and
					genuine intention to help its beneficiaries.</p>
			</div>
		</article>
		<article>
			<img src="{% static 'myapp/images/heather.png' %}" class="icon" />
			<div class="content">
				<h3>Heather Baier</h3>
				<p>Map Specialist, CheckMySchool (CMS)<br>hmbaier@email.wm.edu</p>
				<p>Heather Baier is a senior at the College of William and Mary majoring in Data Science
					with a minor in Computer Science. Her interests include developing geospatial
					applications and using data to better inform aid allocation. She started working
					with CheckMySchool in May 2018 and expects to graduate in May 2020. Heather
					developed the open data platform and designed the original School Neediness Index.
				</p>
			</div>
		</article>
		<article>
			<img src="{% static 'myapp/images/matt.png' %}" class="icon" />
			<div class="content">
				<h3>Matthew Crittenden</h3>
				<p>Data Specialist, CheckMySchool (CMS)<br>micrittenden@email.wm.edu</p>
				<p>Matthew Crittenden is a James Monroe Scholar at the College of William &amp; Mary
					double-majoring in International Relations and Data Science. His main research
					interests include econometric modelling of institutional accountability and aid
					efficacy, community-based participatory development, and harnessing data to inform
					policy decisions. He started working with CheckMySchool in May 2019 and expects to
					graduate in May 2021. Matt devleoped the CheckMySchool app analytics dashboard.</p>
			</div>
		</article>
	</div>
</section>

<!-- Section -->
<section>
	<header class="major">
		<h2>Partners</h2>
	</header>
	<div class="posts">
		<article>
			<a href="#" class="image"><img src="{% static 'myapp/images/partner_ansa.png' %}" alt="" /></a>
		</article>
		<article>
			<a href="#" class="image"><img src="{% static 'myapp/images/partner_gates.png' %}" alt="" /></a>
		</article>
		<article>
			<a href="#" class="image"><img src="{% static 'myapp/images/partner_freeman.png' %}" alt="" /></a>
		</article>
		<article>
			<a href="#" class="image"><img src="{% static 'myapp/images/partner_civicus.png' %}" alt="" /></a>
		</article>
		<article>
			<a href="#" class="image"><img src="{% static 'myapp/images/partner_geolab.png' %}" alt="" /></a>
		</article>
		<article>
			<a href="#" class="image"><img src="{% static 'myapp/images/partner_gri.png' %}" alt="" /></a>
		</article>
	</div>
</section>
{% endblock %}