<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <meta charset="utf-8">
    <title>CheckMySchool Data Portal</title>
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}"> -->
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/style_here.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Bitter|Lobster|Manjari|Schoolbell" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
    <script src="https://code.highcharts.com/highcharts.src.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
</head>

<body style="background-image: url({% static 'myapp/fp_graphic.png' %}); background-size:100%; background-repeat: no repeat;">

    <section style="color: #ffffff; margin: 0 auto; width: 100%; height: 12vh;">
      <ul>
          <li><a href="/about/" style="color: #002036;">About</a></li>
          <li><a href="/schools_list/" style="color: #002036;">School Profiles</a></li>
          <li><a href="/full_map/" style="color: #002036;">School Map</a></li>
          <!-- <li style="display: inline-block; width: 100px; padding: 10px; text-align: center;"><a href="/IndexCalculator/"  style="color: #002036; text-decoration: none; font-size: 20px;">SNI Calculator</a></li> -->
          <!-- <li style="display: inline-block; width: 100px; padding: 10px; text-align: center;"><a href="/OpenData/"  style="color: #002036; text-decoration: none; font-size: 20px;" >Data</a></li> -->
      </ul>
    </section>
  
    <section id="greeting">
      <h1>Welcome to the CheckMySchool Philippines <br> Open Data Platform</h1>
      <div>
          <h2><a href="/schools_list/" >Search for my school</a></h2>
      </div>
    </section>

</body>

</html>