{% extends "generic.html" %}
{% load static %}

{% block title %}GEO - {{ school_id.0.school_name }}{% endblock %}
{% block imports %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>
<script src="https://code.highcharts.com/highcharts.src.js"></script>
{% endblock %}

{% block main %}
<section>
    <div class="row">
        <div class="col-8 col-12-small">
            <h2>{{ school_id.0.school_name }}</h2>
            
            <h3>Fast Facts</h3>
            <p>Region: {{ school_id.0.region }}</p>
            <p>District: {{ school_id.0.district }}</p>
            <p>Division: {{ school_id.0.division }}</p>
            <p>Total Teachers: {{ school_id.0.total_teachers }}</p>
            <p>Total Enrollment: {{ school_id.0.total_enrollment }}</p>
            <p>Students with Disabilities: {{ school_id.0.pwd_total }}</p>
            <hr>

            <h3>School Neediness Index Data</h3>
            <p>Percentage of Students Recieving Conditional Cash Transfers: {{ school_id.0.cct_percentage }}</p>
            <p>Water Access: {{ school_id.0.original_water_boolean }}</p>
            <p>Internet Access: {{ school_id.0.original_internet_boolean }}</p>
            <p>Electricty Access: {{ school_id.0.original_electricity_boolean }}</p>
            <p>Student-Teacher Ratio {{ school_id.0.student_teacher_ratio }}</p>
            <p>Student-Classroom Ratio: {{ school_id.0.student_classroom_ratio }}</p>
            <hr>

            <h3>Student Gender Distribution</h3>
            <div id="chart" style="width:100%; height:auto;"></div>
            <script>
                Highcharts.chart('chart', {
                    chart: {
                        plotBackgroundColor: null,
                        plotBorderWidth: null,
                        plotShadow: false,
                        type: 'pie'
                    },
                    title: {
                        text: ' '
                    },
                    tooltip: {
                        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                    },
                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                            dataLabels: {
                                enabled: true,
                                format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                            }
                        }
                    },
                    series: [{
                        name: 'Gender',
                        colorByPoint: true,
                        data: [{
                            name: 'Male',
                            y: {{ school_id.0.total_male }},
                            sliced: true,
                            selected: true,
                            color: "#347dc1"
                        }, {
                            name: 'Female',
                            y: {{ school_id.0.total_female }},
                            color: "#e6a6c7"
                        }]
                    }]
                });
            </script>
        </div>
        <div class="col-4 col-12-small">
            <div id="map" style="width:100%;height:50vh;">
                <script type="text/javascript">
                    var map = L.map('map').setView([{{ school_id.0.latitude }}, {{ school_id.0.longitude }}], 14);
                    var osmLayer = new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                        maxZoom: 18
                    });
                    map.addLayer(osmLayer);
                    var marker = L.marker([{{ school_id.0.latitude }}, {{ school_id.0.longitude }}]).addTo(map);
                </script>
            </div>
        </div>
    </div>
</section>
{% endblock %}
